.reserve-form{
    font-size: large;
    font-weight: bold;
    display: flex;
    align-items:center;
    gap: 10px;
    justify-content: space-evenly;
}
.reserve-form label{
    text-align: center;
    margin: auto 10px;
}

.reserve-form input,.reserve-form select{
    background:green;
    width: 150px;
    padding: 1vh 1vw;
    border: none;
    border-radius: 10px;
}

/* 
.reserve-form button{
    display: inline-block;
    position: absolute;
    
} */